.react-calendar {
  width: 100%;
  border: none;
  font-size: 2rem;
}

/* 상단 내비게이션(년, 월) */
.react-calendar__navigation {
  justify-content: center;
  align-items: center;
}

/* 네비게이션 폰트 설정 */
.react-calendar__navigation button {
  font-weight: 600;
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  color: black;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background: #f5c513;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
.react-calendar__month-view__days {
  color: #21272a;
  gap: 0;
}
.react-calendar__month-view__days__day--weekend {
  color: #21272a;
}
/* 일(각 타일) */
.react-calendar__tile {
  border-radius: 10px;
  padding: 1rem 0 !important;
}
/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: #00b286;
  border-radius: 10px;
  font-weight: 600;
  color: white;
}

/* 내비게이션 년, 월 선택 */
.react-calendar__year-view__months__month {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.react-calendar__year-view {
  background: none;
}

/* 내비게이션 년, 월 선택 뷰 */
.react-calendar__century-view__decades,
.react-calendar__decade-view__years,
.react-calendar__year-view__months {
  gap: 1.5rem 0;
}

.react-calendar__tile--hasActive {
  background: #00b286 !important;
  color: white;
  font-weight: 600;
}

/* 달력 각 버튼*/
.react-calendar button {
  padding: 10px;
  border-radius: 10px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 1024px) {
  .react-calendar {
    font-size: 1.6rem;
  }

  .react-calendar__navigation {
    font-weight: 400;
  }

  .react-calendar__navigation button {
    font-weight: 400;
  }

  .react-calendar__tile {
    border-radius: 10px;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .react-calendar {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .react-calendar {
    font-size: 1.6rem;
  }
}
